<%= render "article_search_criteria" %>

<div id="article-list" style="border: 1px; box-sizing: border-box; margin-top: 20px; background-color: rgb(247, 247, 249);">
    <label>Article Found</label>
</div>