<li>
    <%= check_box_tag "user[role_ids][]", current_role.id, @user.roles.include?(current_role), :disabled => current_role.eql?(@role) %>
    <%= current_role.description %></li><%= the_children %>