<h3>Show Permission</h3>
<p>
  <b>Regulator:</b>
  <%= @role_permission.regulator %>
</p>
<p>
  <b>Conduct:</b>
  <%= @role_permission.conduct %>
</p>
<%= link_to 'Edit', edit_role_permission_path(@role_permission), :class => 'ajaxLink' %> |<%= link_to 'Back', role_permissions_path(:role_id => @role_permission.role_id), :class => 'ajaxLink' %>
