<h1>Listing roles</h1>
<%= link_to 'New Role', new_role_path %>
<br />
<ul>
    <li class="listNoDecorate">
        <span class="roleDescription">Role Name</span>
        <span class="roleCommands">[Commands]</span>
    </li>
    <%=  build_role_list('indexrow') %>
</ul>